/** Setting the mood **/

* {
  box-sizing: border-box;
}

:root {
  --base-font-size: 16px;
  --color-gyozabeige-10: #F9F4EE;
  --color-gyozabeige-20: #F1E6D8;
  --color-gyozabeige-30: #EBDBC7;
  --color-gyozabeige-40: #DDC4A6;
  --color-ichigored-10: #EDC4BB;
  --color-ichigored-20: #D5745F;
  --color-ichigored-30: #C3391B;
  --color-ichigored-40: #B52C14;
  --color-shiboriblue-10: #BAC5CD;
  --color-shiboriblue-20: #5E778A;
  --color-shiboriblue-30: #193D58;
  --color-shiboriblue-40: #122F47;
  --color-shiowhite: #FFFFFF;
  --color-sumiblack-10: #E1E2E3;
  --color-sumiblack-20: #B4B6BA;
  --color-sumiblack-30: #82868C;
  --color-sumiblack-40: #50565D;
  --color-sumiblack-50: #2B313B;
  --color-sumiblack-60: ##050D18;
  --color-tamagoyellow-10: #FEE2BF;
  --color-tamagoyellow-20: #FCBC69;
  --color-tamagoyellow-30: #FA9F28;
  --color-tamagoyellow-40: #F98D1E;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3.5rem;
  --letter-spacing-main: 0.2em;
  --letter-spacing-link: 2px;
  --letter-spacing-title: 0.1em;
  --letter-spacing-title-mono: -0.2em;
  --lh-body-long: 1.6em;
  --lh-body-short: 1.4em;
  --lh-body-title: 1.1em;
  --mini-unit: calc(var(--base-font-size) / 2);
  --spacing-1: calc(var(--mini-unit) * 1); /** 8px **/
  --spacing-2: calc(var(--mini-unit) * 2); /** 16px **/
  --spacing-3: calc(var(--mini-unit) * 5); /** 40px **/
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

/** Top nav **/

.navbar_top {
  align-content: flex-start;
  align-items: center;
  background-color: var(--color-gyozabeige-10);
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  padding: var(--spacing-1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.site_logo {
  align-self: stretch;
}

/**.site_logo img {
  height: 4rem;
}**/

.nav_link {
  color: var(--color-shiboriblue-30);
  font-family: var(--primary-font);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-link);
  line-height: var(--lh-body-title);
  text-decoration: none;
}

.nav_link:hover, .nav_link:focus, .nav_link:active {
  color: var(--color-ichigored-40);
}

/** Hero section **/

.hero {
  position: relative;
}

.hero img {
  max-height: 100vh;
}

/** Bottom nav **/

.navbar_bot {
  align-content: flex-start;
  align-items: center;
  background-color: var(--color-gyozabeige-10);
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  padding: var(--spacing-1);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.social img {
  margin: var(--spacing-1);
  width: 2rem;
}
